@using ForouzanTask.Application.DTOs.Project.Inner;
@model AddFilesDto
@{
    Layout = null;
}
<form asp-area="Admin" asp-controller="Project" asp-action="AddFile" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ProjectId" value="@ViewBag.Id" />
    <div class="row">
        <div class="col-2">
            <label>انتخاب فایل</label>
        </div>
    <div class="col-10">
        <input type="file" asp-for="file" class="form-control" />
    </div>
    </div>
    <div class="row">
        <div class="col-2"><label>توضیحات</label></div>
        <div class="col-10">
<textarea asp-for="Description" class="form-control">

</textarea></div>
    </div>
    <div class="col-4 offset-4 d-grid gap-2">
        <input type="submit" class="btn btn-success" value="آپلود و ذخیره" />
    </div>
</form>