@using ForouzanTask.Application.DTOs.User;
@model UserDto
<!-- /.search-box -->
<div class="user-box">
    <a href="#">
        <img src="/user/Avatar/@Model.Avatar" alt="عکس پروفایل" class="img-circle img-responsive">
    </a>
    <div class="user-details">
        <h4>@Model.FullName</h4>
        <p class="role">..</p>
        <div class="dropdown user-login">
            <button class="btn btn-xs btn-status dropdown-toggle btn-round" type="button" data-bs-toggle="dropdown" data-hover="dropdown">
                <i class="fas fa-circle text-success"></i>
                <span>دردسترس</span>
            </button>
            <ul class="dropdown-menu dropdown-status">
                <li>
                    <a href="#" class="busy">
                        <i class="fas fa-circle text-success"></i>
                        <span>دردسترس</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="busy">
                        <i class="fas fa-circle text-danger"></i>
                        <span>مشغول</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-circle text-gray"></i>
                        <span>مخفی</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-circle text-warning"></i>
                        <span>سایر</span>
                    </a>
                </li>
            </ul>
        </div><!-- /dropdown -->
    </div><!-- /.user-details -->
</div><!-- /.user-box -->